{{ define "main" }}

	{{ partial "nav" site.Data.nav }}
	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "spotlight" site.Data.spotlight4 }}
	{{ partial "pricing" site.Data.pricing }}
<!--	{{ partial "gallery" site.Data.gallery }}-->
<!--	{{ partial "items" site.Data.items }}-->
<!--	{{ partial "elements" . }}-->
<!--	{{ partial "elements_reference" . }}-->
	{{ partial "footer" site.Data.footer }}

{{ end }}